* {
    transition: all 0.7s ease;
}

html {
    background-color: #f1faee;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-name,
#game-author {
    color: #e63946;
    font-weight: bold;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

#game-name {
    font-size: 48px;
    margin: 24px;
}

#game-author {
    font-size: 24px;
    font-style: italic;
    margin: 0;
}

#instruction {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #457b9d;
}

.moves {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
}

#rock,
#paper,
#scissors {
    background-color: #a8dadc;
    padding: 5px;
    box-shadow: 0 30px 40px rgba(0,0,0,0.2);
    transition: all .07s ease;
}

.win-count {
    display: flex;
    justify-content: center;
    gap: 225px;
    margin-top: 100px;
}

.count-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    color: #1d3557;
}

#count-title {
    font-size: 24px;
}

#p-count,
#c-count {
    color: #457b9d;
    font-size: 20px;
}

#play-again {
    display: flex;
    justify-content: center;
}

#pButton {
    background-color: #e63946;
    border: 0;
    padding: 10px 25px;
    color: white;
    font-weight: bold;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
    cursor: pointer;
}

#pButton:hover {
    background-color: #b1323c;
}

.playing {
    transform: scale(1.1);
}

.cursor {
    cursor: pointer;
}